{% extends 'bootstrap/base.html' %}

{% block title %}

{% if tab_title %}
  {{tab_title}}
{% else %}
  Flask-App
{% endif %}
{% endblock %}

{% block doc %}
{% block html %}

{% block head %}
  {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

  {% block navbar %}
  {% endblock %}

  {% block hero %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  {% block scripts %}
  {%- endblock scripts %}


{% endblock body %}
{% endblock html %}
{% endblock doc %}